main{
  margin-top: 80px;
}

.carrito {
  display: flex;
  flex-direction: column;
}
.producto {
  display: flex;
  margin-left: 25%;
  padding: 5px;
  
}
.producto img {
  width: 96px;
  height: 96px;
  object-fit: cover;
  margin-right: 10px;
}
.producto article {
  display: flex;
  align-items: center;
}
.producto article h4 {
  margin: 0;
  margin-right: 10px;
}
.botones {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7fa583;
  border-radius: 3px;


}
.botones button {
  font-size: 30px;
  height: 30px;
  width: 30px;
  border: none;
  color: white;
  cursor: pointer;
}
.botones button:hover {
  color: black;
}

.accioncarrito {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Ajusta la altura según tus necesidades */
}

.vaciar-carrito {
  margin-top: 20px;
  padding: 10px;
  border: none;
  background-color: #263427;
  color: white;
  cursor: pointer;
  border-radius: 3px;

}

.vaciar-carrito:hover {
  background-color: #161e16;
  color: white;
}


#openModalBtn {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="button"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #45a049;
}