body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .filtro{
    display: none;
}

  main {
    flex: 1;
}
  
  .escondido{
    display: none;
  }
  
  a{
    background-color: unset;
    border:unset;
    cursor:pointer;
    text-decoration: none;
    transition: 200ms;
    color:black
  }
  
  button{
    transition: 200ms;
    all: unset;
    height: 20px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
  }
  
  a:hover:not(#cart), button:hover{
    color:#000000;
  }
  
  .cantidad{
    font-size: 20px;
  }
  /* Header */
  header{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.09);
    margin-bottom: 10px;
    font-size: larger;
    position: fixed; 
    top: 0;
    width: 100%; 
    background-color: #ffffff; 
    z-index: 1000; 
  
  
    nav{
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
  }
  
  #logo{
    height: 70px;
    margin: 0px;
  }
  
  nav div{
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  nav img{
    height: 25px;
  }
}
  
  #cuenta-carrito{
    position: absolute;
    background-color: #373b37;
    border-radius: 100%;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    aspect-ratio: 1;
    text-align: center;
    background-color: rgb(183, 240, 211);
    /* margin-bottom: 15px; */
  }
  
  footer{
    background-color: #f8fff5;
    color: black;
    padding: 4px 0;
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px rgba(49, 68, 49, 0.868);

}
.redes{
    text-decoration: none;
    color: black;
    margin: 15px;
    transition: transform 0.3s ease;

    &:hover{
        transform: rotate(360deg)
    }
    
}

.foterfede{
    display: flex;
    color: white;
    justify-content: center;
    background-color: rgb(2, 51, 2);
    width: 100%;
    padding: 5px;
}
